body {
    background: #7a7a7a;
    font-family: Source Sans 3, serif;
}

.page {
    width: 205mm;
    min-height: 292mm;
    background: white;
    margin: 20mm auto;
    padding: 25mm;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    line-height: 1.0;
}

h1 {
    font-size: 14pt;
    font-weight: bold;
    text-align: center;
}

h2,
h3 {
    font-size: 12pt;
    font-weight: bold;
    margin-top: 12px;
}

p,
li {
    font-size: 12pt;
    text-align: justify;
}

pre {
    background: #f4f4f4;
    padding: 10px;
    border: 1px solid #ccc;
    font-size: 10pt;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 10px 0;
}

table,
th,
td {
    border: 1px solid black;
}

th,
td {
    padding: 6px;
}

.lab-box {
    border: 2px solid #2b6cb0;
    padding: 10px;
    background: #f0f6ff;
}

.analysis-box {
    border: 2px solid #c05621;
    padding: 10px;
    background: #fff7f0;
}